// article-block.scss

.article-block {
  width: 75%; // width: 32%
  height: 20em;
  color: $white;
  position: relative;
  background-image: linear-gradient(#C6207E, transparent);

  img {
    z-index: -10;
    max-width: none;
  }

  h4{
    font-size: .75em;
    font-weight: normal;
    position: absolute;
    left: 30px;
  }

  time {
    font-size: .75em;
    font-weight: normal;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  h2{
    position: absolute;
    left: 30px;
    top: 40px;
    max-width: 50%;
    line-height: 1;
  }
}
