// article-block.scss

.article-block {
  width: 100%;
  height: 20em;
  padding: 1em;
  margin: 0.5em;
  float: left;
  color: $white;

  img {
    z-index: -10;
    max-width: none;
  }

  &.block-small {
    width: 23%;
  }

  &.block-medium {
    width: 35%;
  }

  &.block-large {
    width: 45%;
  }

  h4{
    margin: 0;
    font-weight: normal;
    font-size: .9em;
  }

  time {
    margin: 0;
    float: right;
    font-weight: normal;
    font-size: .9em;
  }

  h2{
    line-height: 1;
    margin: 0.5;
    max-width: 75%;
    font-size: 1.7em;
  }
}
