// page-header.scss

.page-header {
  @include clearfix;
  width: 100%;
  position: relative;
  margin-bottom: 2em;
  margin-left: .5em;

  .utility-logo-group {
  width: 34%;
  position: absolute;
  top: 0;
  right: 0;
  }

  .utility-nav {
  float: left;
  margin-top: 0.5em;
  }

  .logo-mcad {
  float: right;
  margin-right: 1.5em;
  }

  .main-nav {
  float: right;
  margin-right: 0.5em;
  }
}
