// variables.scss

// Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

// Colors
$white: #fff;
$black: #333;
$gray-light: #ccc;
$gray-lighter: #eee;
$color-logo-sdo: #23CDFD;

// Category Colors
$blue: #2DF4FB;
$yellow: #EEFD36;
$green: #52E7A3;
$pink: #CF2382;
$red: #E91221;
$purple: #A035B4;
$orange: #E17122; 
